@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans; /* Applies Actor to the entire body */
    background-image: url('/background.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } 
}
